@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter';
}

body {
    height: 100vh;
}

::-webkit-scrollbar {
    background-color: rgb(10,20,40);
}

::-webkit-scrollbar-thumb {
    height: 100px;
    background-color: #007dff;
    border-radius: 10px;
}

.bg1 {
    background-color: #FFF;
    background-image: url("https://pickywallpapers.com/img/2018/2/firewatch-mountain-desktop-wallpaper-418-425-hd-wallpapers.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all 1s;
}

.bg2 {
    background-color: #FFF;
    background-image: url("https://i.pinimg.com/originals/38/b2/d8/38b2d8bcac8b7b048b191645f3e6b816.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFF;
    transition: all 1s;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 40px -15px rgba(0, 0, 0, 0.25);
    margin-bottom: 70px;
    background-color: rgb(20,30,40);
    color: #FFF;
}

.header {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header_right,
.header_right ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_right li {
    padding: 10px 20px;
}

.header_right li:last-child {
    padding-right: 0px;
}

.header_right a {
    color: #FFF;
}

.header_right a:hover {
    color: springgreen;
    border-bottom: 5px solid springgreen;
    padding-bottom: 35px;
}

.header_right button {
    background-color: #007dff;
    color: #FFF;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s;
}

.header_right button:hover {
    transform: scale(1.03);
    background-color: springgreen;
}

.menu_mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_mobile div {
    background-color: springgreen;
    border-radius: 8px;
    height: 5px;
    width: 45px;
    margin: 4px 0;
}

main {
    background-color: rgba(20,30,40, 0.6);
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
    color: #FFF;
}

.main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.list_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px 30px;
    width: 60%;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    width: 320px;
    height: 363px;
    transition: all 0.3s;
    cursor: pointer;
    border: 3px solid transparent;
    font-weight: bold;
}

.cards:hover {
    transform: scale(1.02);
    color: springgreen;
    box-shadow: 0px 4px 30px -15px rgba(0, 0, 0, 0.5);
}

.cards img {
    align-self: center;
}

.cards h2 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
}

.cards p {
    margin-top: 20px;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
}

.cards_bottom {
    display: flex;
}

.cards_bottom p {
    margin-left: 10px;
    margin-right: 20px;
}

.list_news {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.list_news .news_title:first-child {
    margin-top: 27px;
    background-color: #007dff;
    border-radius: 10px;
    padding: 10px 50px;
}

.list_news .news_title {
    font-weight: 600;
    margin: 45px 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.news {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    transition: all 0.3s;
    cursor: pointer;
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 8px;
}

.news:hover {
    transform: scale(1.02);
    color: springgreen;
    box-shadow: 0px 4px 30px -15px rgba(0, 0, 0, 0.8);
}

.news h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

footer {
    margin-top: 200px;
    height: 300px;
    background-color: rgb(20,30,40);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.footer_left h1 {
    color: #FFF;
}

.footer_right img:last-child {
    margin-right: 0;
}

.footer_right img {
    cursor: pointer;
    margin-right: 30px;
    transition: all 0.5s;
}

.footer_right img:hover {
    transform: scale(1.15);
}

@media only screen and (max-width: 1200px) {
    
    .header,
    .main,
    .footer {
        padding: 0 30px;
    }   

    .list_news .news_title:first-child {
        margin-top: 10px;
    }

    .list_cards {
        width: 50%;
    }   

    .list_news {
        width: 50%;
        margin-left: 50px;
    }

    .list_news .news {
        width: 300px;
    }

}

@media only screen and (max-width: 760px) {

    .menu_mobile {
        display: flex;
    }

    .header_right {
        background-color: rgba(20, 30, 40, 0.8);
        position: absolute;
        top: 100px;
        width: 100%;
        height: calc(100vh - 100px);
        left: -150%;
        transition: all 200ms;
    }

    .header_right.active {
        left: 0;
    }

    .header_right ul {
        flex-direction: column;
    }

    .header_right li {
        margin: 10px 0;
    }

    .header_right li:last-child {
        padding: 10px 0px;
    }

    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .list_news {
        margin-top: 50px;
        margin-left: 0px;
    }

    .news {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_left h1 {
        color: #FFF;
        font-size: 22px;
    }

}

@media only screen and (max-width: 680px) {

    .list_news {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }   

}

@media only screen and (max-width: 490px) {

    .footer {
        flex-direction: column;
    }

    .footer h1 {
        margin-bottom: 50px;
    }

}